*.iml
.gradle
.kotlin
.idea
.vscode
.agents
/local.properties
.DS_Store
/build
/captures
screenshots/
app_screenshots/
.externalNativeBuild
.cxx
local.properties
node_modules/
package.json
package-lock.json



