*.iml
.gradle
.kotlin
.idea
.vscode
.agents
/local.properties
.DS_Store
/build
/captures
screenshots/
app_screenshots/
issues/
.externalNativeBuild
.cxx
/local.properties
hs_err_*.log

# Firebase & Keystores
google-services.json
firebase-app-distribution-key.json
*.keystore
*.jks
